@charset "UTF-8";
html,body,.wrapper{
    height:100%;
    margin:0;
    padding:0;
}
/* 侧边栏 */
.l-sidebar{
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    width:265px;
    background:#3d485d;
}

/* logo */
.vr-logo-box{
    height:64px;
    background-image: url("../images/logo_bg.png");
    background-repeat: repeat-y;
}
.vr-logo{
    display:block;
    height:100%;
    background: url("../images/logo.png") no-repeat 50% 50%;
}

/* 课程列表 */
.vr-courses-title{
    height:49px;
    background:#354052;
    line-height: 49px;
    text-align: center;
    font-size: 16px;
    color: #f2f2f2;
}
.vr-courses-list li{
    height:58px;
    position: relative;
    cursor:pointer;
}
.vr-courses-item{
    position: relative;
    padding-left: 58px;
    line-height: 58px;
    color: #a4afc3;
    background:url("../images/icon_class_nor.png") no-repeat 28px 3px;
}
/* 鼠标悬停 */
.vr-courses-list li:hover::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:url("../images/class_hov_bg.png") repeat 0 0;
    background-size: 100% 100%;
    transition: width 0.5s;
    
}
.vr-courses-list li:hover .vr-courses-item{
    color:#ffffff;
    background: url("../images/icon_class_pre.png") no-repeat 28px 3px;
}
/* 选中的课程 */
.vr-courses-list li.course-on{
    color:#eff1f1;
    background:#4f5f79;
}
.vr-courses-list li.course-on .vr-courses-item{
    color:#eff1f1;
    background: url("../images/icon_class_pre.png") no-repeat 28px 3px;
}
.vr-courses-list li.course-on::before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:4px;
    height:100%;
    background:url("../images/course_pre.png") repeat 0 0;
    background-size: 100% 100%;
    transition: width 0.5s;
}
/* 主内容区 */
.l-content{
    background: #edf2f6;
    height:100%;
    margin-left:265px;
}

/* 顶部：用户和设备选择 */
.l-top{
    height:64px;
    background:#ffffff;
    border-bottom: solid 1px #e2e2e2;
}
/* 用户信息 */
.user-info{
    position: relative;
    margin-top:20px;
    margin-left:36px;
    display: inline-block;
    /* font-size: 0; */
}
.user-info__item{
    position: relative; 
    display:inline-block;
    padding:0 16px;
    margin:0;
}
.user-info__item::before{
    content:"";
    position: absolute;
    top:-2px;
    bottom:-2px;
    width:1px;
    background:#edf2f6;
    left:0;
}
.user-info__item:first-child::before{
    display:none;
}
.user-info__item .vr-icon{
    display:inline-block;
    width:22px;
    height:22px;
    vertical-align: middle;
}
.vr-icon{
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.vr-icon__user{
    background-image: url("../images/icon_user.png");
}
.vr-icon__id{
    background-image: url("../images/icon_id.png");
}
.vr-icon__txt{
    font-size: 14px;
    color:#a0a0a0;
    vertical-align: middle;
}
/* 设备选择 */
.vr-extend{
    /* position: relative; */
    /* display: inline-block; */
    /* inline-block is ignored due to the float. 
    If 'float' has a value other than 'none',
     the box is floated and 'display' is treated as 'block' */
    float: right;
    margin-top:16px;
    margin-right: 54px;
}
.vr-extend select{
    height:34px;
    width:102px;
    line-height: 34px;
    color:#16a4fa;
    font-size: 16px; 
    border:1px solid #16a4fa;
    padding-left: 14px;
    border-radius: 2px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.vr-extend::after{
    content:"";
    width:10px;
    height:7px;
    position:absolute;
    top:30px;
    right:60px;
    background:url("../images/select_icon.png") no-repeat 50% 50%;
}
.vr-extend select:hover{
    color:#30b8ff;
    cursor: pointer;
}
.vr-extend select:active{
    color:#1b92da;
}
/* 作品分类、提交、新建 */
.l-main__hd{
    height:49px;
    background:#fafbfd;
    border-bottom:solid 1px #e2e2e2;
    display: inline-block;
    width:100%;
}
/* 作品类别 */
.vr-tab{
    position: relative;
    height:49px;
    display: inline-block;
    font-size: 0;
}
.vr-tab li{
    position: relative;
    display:inline-block;
    color:#4d5b67;
    font-size: 18px;
    padding:18px 40px 12px 35px;
    margin:0 19px;
}
.vr-tab li::before{
    content:"";
    position: absolute;
    top:-2px;
    bottom:-2px;
    width:1px;
    background:#f0f4f8;
    left:-19px;
}
.vr-tab li:first-child::before{
    display: none;
}
.vr-tab .tab-on{
    border-bottom:1px solid #16a4fa;
}
.vr-btns-group{
    position: relative;
    float:right;
    margin-top:8px;
    margin-right: 54px;
    font-size:0;
}
.vr-btns-group .vr-btn{
    width:120px;
    height:34px;
    border:none;
    color:#ffffff;
    font-size:16px;
    margin-left:20px;
    padding-left:22px;
    background:url("../images/btn_group.png") no-repeat 50% 50%;
}
.vr-btns-group .vr-btn:hover{
    cursor: pointer;
}
.vr-btns-group .vr-btn-submit::before{
    content: "";
    position: absolute;
    width:20px;
    height:20px;
    background: url("../images/btn_submit.png") no-repeat 50% 50%;
    left:28px;
}
.vr-btns-group .vr-btn-new::before{
    content: "";
    position: absolute;
    width:20px;
    height:20px;
    background: url("../images/btn_new.png") no-repeat 50% 50%;
    left:168px;
}
.l-main__bd{
    position:relative;
}
/* 搜索 */
.vr-search{
    position: absolute;
    top:22px;
    right:126px;
    display:inline-block;
    font-size: 0;
}
.vr-search .vr-search__input{
    display: inline-block;
    margin-right: 10px;
    position: relative;
}
.vr-search__input input{
    width:298px;
    height:32px;
    font-size: 18px;
    border:1px solid #e2e2e2;
    border-radius: 2px;
    padding-left: 10px;
}
.vr-search__input input::-webkit-input-placeholder{
    color:#dadada;
    font-size:15px;
}
.vr-search__input .vr-icon{
    position: absolute;
    width:18px;
    height:18px;
    top:8px;
    right: 8px;
    background: url("../images/icon_search.png");
}
.vr-search .vr-search__btn{
    width:76px;
    height:34px;
    border:none;
    color:#ffffff;
    font-size: 16px;
    background: url("../images/btn_search_nor.png") no-repeat 50% 50%;
}
.vr-search .vr-search__btn:hover{
    cursor: pointer;
    background: url("../images/btn_search_hov.png") no-repeat 50% 50%;
}
.vr-search .vr-search__btn:active{
    background: url("../images/btn_search_pre.png") no-repeat 50% 50%;
}
/* 内容展示 */

.vr-card-list{
    padding-left:35px;
    padding-top:80px;
}
.vr-card-list li{
    width:356px;
    height:298px;
    margin-right:44px;
    margin-bottom:44px;
    display: block;
    float:left;
    font-size: 0;
}
.vr-card-item .vr-card-box{
    width:358px;
    height:270px;
    background-color:#fafbfd;
    margin-bottom:14px;
}
/* 作品信息 */
.vr-card-item__bd{
    width:358px;
    height:214px;
}
.vr-card-item__info{
    position: relative;
    margin-top:-34px;
    width:358px;
    height:34px;
    background-color:rgba(102, 102, 102, 0.4);
    font-size: 0;
}
.vr-card-item-icon{
    display: inline-block;
    width:21px;
    height:21px;
    background: url("../images/icon_author.png") no-repeat 50% 50%;
    position: absolute;
    top:6px;
    left:18px;
}
.vr-card-item__name{
    display: inline-block;
    position: absolute;
    width:152px;
    height:34px;
    line-height: 34px;
    left:48px;
    font-size:14px;
    color:#eff1f1;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.vr-card-item__data{
    display: inline-block;
    position: absolute;
    width:118px;
    height:34px;
    line-height: 34px;
    right:18px;
    font-size:14px;
    color:#eff1f1;
}
/* 编辑、播放、删除按钮 */
.vr-card-item__btns .vr-card-btn{
    border:none;
    outline: none;
    margin-left:52px;
    margin-right:15px;
    width:40px;
    height:56px;
    font-size:0;
    background:transparent;
}
.vr-icon__edit{
    display: inline-block;
    width:22px;
    height:22px;
    margin:5px 0;
    background:url("../images/btn_edit_nor.png") no-repeat 50% 50%;
}
.vr-icon__play{
    display: inline-block;
    width:22px;
    height:22px;
    margin:5px 0;
    background:url("../images/btn_play_nor.png") no-repeat 50% 50%;
}
.vr-icon__delete{
    display: inline-block;
    width:22px;
    margin:5px 0;
    height:22px;
    background:url("../images/btn_delete_nor.png") no-repeat 50% 50%;
}
.vr-icon__edit:hover,.vr-icon__edit:active{
    cursor: pointer;
    background:url("../images/btn_edit_active.png") no-repeat 50% 50%;
}
.vr-icon__play:hover,.vr-icon__play:active{
    cursor: pointer;
    background:url("../images/btn_play_active.png") no-repeat 50% 50%;
}
.vr-icon__delete:hover,.vr-icon__delete:active{
    cursor: pointer;
    background:url("../images/btn_delete_active.png") no-repeat 50% 50%;
}
.vr-btn__text{
    display: inline-block;
    font-size: 14px;
    color:#333333;
}
.vr-card-item .vr-card-item__ft{
    font-size: 16px;
    text-align: center;
    color:#4d5b67;
}
.l-main__ft{
    clear: both;
}
.l-main__ft .vr-page{
    text-align: center;
    padding-top:40px; 
}
.vr-page__item{
    display: inline-block;
    font-size: 16px;
    color:#4d5b67;
    background:url("../images/btn_page_nor.png");
    width:40px;
    height:40px;
    line-height: 40px;
    margin-right:16px;
}
.vr-page__item:hover{
    color:#ffffff;
    background:url("../images/btn_page_hov.png");
}
.vr-page .current-page{
    color:#ffffff;
    background:url("../images/btn_page_pre.png");
}